@import "../config/function.scss";
@import "../config/constant.scss";
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $darkBlue;
    color: $white;
    &__title {
        margin: rem(20) 0 rem(40) 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
    }

    &__select {
        display: flex;
        min-width: 88vw;
        color: inherit;
        background: transparent;
        border: none;
        border-bottom: rem(2) solid $lightBlue;
        padding: 0 0 rem(10);
        font-size: rem(12);

        &::after {
            content: "";
            width: rem(12);
            height: rem(8);
            background: url("../img/projects/birdie.svg") center no-repeat;
            display: inline-block;
            font-size: rem(16);
            margin: 0 0 0 auto;
        }
    }

    &__navigation {
    }

    &__list {
        min-width: 88vw;
        list-style: none;
        margin: rem(16) 0 rem(16) 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: rem(10) 0;
    }

    &__item {
    }

    &__link {
        color: inherit;
        text-decoration: none;
        font-size: rem(14);
        letter-spacing: rem(0.1);
        line-height: rem(24);
    }
    &__cards {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
@media (min-width: em(768)) {
    .projects {
        &__title {
            font-size: rem(24);
            line-height: rem(33);
        }

        &__select {
            display: none;
            &::after {
            }
        }

        &__navigation {
        }

        &__list {
            flex-direction: row;
            gap: 0 rem(50);
            justify-content: center;
        }

        &__item {
        }

        &__link {
            line-height: rem(19);    
        }
    }
}
@media (min-width: em(1280)) {
    .projects {
        &__title {
            font-size: rem(36);
            line-height: rem(68);
        }

        &__select {
            &::after {
            }
        }

        &__navigation {
        }

        &__list {
            gap: 0 rem(100);
        }

        &__item {
        }

        &__link {
            font-size: rem(16);
            line-height: rem(22);
        }
    }
}