$white: #ffffff;
$blue: #001337;
$darkBlue: #000D26;
$lightBlue: #009FAC;
$paleBlue: #E0F0FF;
$transparentBlue: rgba(0, 159, 172, .8);
$transparentWhite: rgba(250, 250, 250, .5);
$shadowBlue: rgba(1, 54, 157, 0.15);


